{% extends "pages/__layout.html" %}

{% block content %}

<section class="m-5 post">
  <article class="prose prose-invert">
    <h1>{{post.metadata.title}}<br />
      <div class="-mt-3">
        <span class="text-sm">{{post.metadata.date}} &middot; <span
            class="font-normal">{{post.metadata.series}}</span></span>
      </div>
    </h1>

    {{ post.content|markdown }}
  </article>
</section>

<footer class="text-xs italic pb-5">
  Last edited: {{last_edited}}
</footer>
{% endblock %}